.vscode/

# CUDA-Training-Series

CUDA-Training-Series/hw1/hello_solution
CUDA-Training-Series/hw1/matrix_mul_solution
CUDA-Training-Series/hw1/vector_add_solution

CUDA-Training-Series/hw2/matrix_mul_shared_solution
CUDA-Training-Series/hw2/stencil_1d_solution

CUDA-Training-Series/hw3/vector_add_solution

CUDA-Training-Series/hw4/matrix_sums_solution


# NVIDIA/cuda-samples

NVIDIA/cuda-samples/bin/

NVIDIA/cuda-samples/Samples/0_Introduction/matrixMul/matrixMul
NVIDIA/cuda-samples/Samples/0_Introduction/matrixMul/matrixMul.o
NVIDIA/cuda-samples/Samples/0_Introduction/matrixMulDrv/matrixMulDrv
NVIDIA/cuda-samples/Samples/0_Introduction/matrixMulDrv/matrixMulDrv.o
NVIDIA/cuda-samples/Samples/0_Introduction/matrixMulDrv/data/
NVIDIA/cuda-samples/Samples/0_Introduction/matrixMulDrv/matrixMul_kernel64.fatbin

NVIDIA/cuda-samples/Samples/1_Utilities/bandwidthTest/bandwidthTest
NVIDIA/cuda-samples/Samples/1_Utilities/bandwidthTest/*.o
NVIDIA/cuda-samples/Samples/1_Utilities/deviceQuery/deviceQuery
NVIDIA/cuda-samples/Samples/1_Utilities/deviceQuery/*.o
NVIDIA/cuda-samples/Samples/1_Utilities/deviceQueryDrv/deviceQueryDrv
NVIDIA/cuda-samples/Samples/1_Utilities/deviceQueryDrv/*.o
NVIDIA/cuda-samples/Samples/1_Utilities/topologyQuery/topologyQuery
NVIDIA/cuda-samples/Samples/1_Utilities/topologyQuery/*.o


NVIDIA/cuda-samples/Samples/5_Domain_Specific/Mandelbrot/Mandelbrot
NVIDIA/cuda-samples/Samples/5_Domain_Specific/Mandelbrot/*.o
NVIDIA/cuda-samples/Samples/5_Domain_Specific/smokeParticles/smokeParticles
NVIDIA/cuda-samples/Samples/5_Domain_Specific/smokeParticles/*.o